*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: black;
    color: white;
}

h1{
    background-color: rgb(18, 18, 66);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 150px;
    width: 150px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    background-color: black;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

.score-bord{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size: 2rem;
}

.msg{
    background-color:#190765;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container{
    margin-top: 5rem;
}